// font-family: 'Montserrat', sans-serif;
// font-family: 'Space Mono', monospace;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}
body {
  background-color: #010409;
  color: white;
  font-family: 'Space Mono', monospace;
}

input {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: 'Space Mono', monospace;
  flex-grow: 1;
}
input:focus {
  outline: none;
}

input,
textarea {
  color: white;
}

.result {
  max-width: 80rem;
  margin: 0 auto;
}

.invalid {
  border: 1px solid #b40e04;
  background-color: #fddddd;
}

.invalid-message {
  color: red;
}

.form {
  background-color: #0d1117;
  display: block;
  margin: 2rem auto;
}

.userName-input {
  box-shadow: inset 1px 2px 8px rgba(243, 230, 230, 0.07);
}

.radio-input__card {
  display: flex;
}

.submit {
  background-color: #2783fa;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
}
.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #0d1117;
  padding: 2em;
  margin: 2em;
}
.user-img {
  width: 19rem;
  border-radius: 50%;
  margin-right: 3.5rem;
}

.user-info,
.blog {
  color: #fff;
}
.name {
  font-size: 3.5rem;
  font-family: 'Space Mono', monospace;
  margin: 0;
}
.bio {
  font-family: 'Montserrat', sans-serif;
}
.login {
  font-family: 'Montserrat', sans-serif;
  color: rgb(39, 131, 250);
}
.info {
  padding: 2rem 0;
}
.followers {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Space Mono', monospace;
  background-color: #121923;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.followers li {
  padding-right: 1rem;
}
.user-links {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 3.5rem;
  row-gap: 1.8rem;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}
.user-links li {
  display: flex;
  align-items: center;
}
.user-links li svg {
  margin-right: 1rem;
}

// LOADING STYLING
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
